.sidebar-container {
  background-color: var(--accent-color);
  height: 100vh;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  font-size: 20px;
  font-weight: 600;
  gap: 30px;
  color: white;
}

.sidebar-section {
  width: 85%;
  height: 60px;
  border-radius: 30px;
  padding-right: 5px;
  align-self: center;
  align-items: center;
  display: flex;
  justify-content: center;
  opacity: 0.8;
  flex-wrap: wrap;
  transition: 0.5s ease-out;
}
.sidebar-section-opaque {
  opacity: 1;
  background-color: rgb(255, 255, 255);
  color: rgb(67, 67, 67);
}
.sidebar-section:not(.sidebar-section-opaque):hover {
  opacity: 1;
  cursor: pointer;
  background-color: rgb(255, 255, 255, 0.3);
  transition: 0.5s ease-out;
}
.sidebar-section-text {
  align-self: center;
  font-size: 2.5vmin;
}
.sidebar-section-icon {
  display: flex;
  align-self: center;
}
.library-icon {
  width: 35px;
  height: 25px;
  align-self: center;
}
